@import "navBar.scss";
@import "cards.scss";
@import "footer.scss";

main {
    padding-bottom: 90px;
    padding-top: 10px;

    h2 {
        color: black;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}